:root {
  /* colors */
  --neutral-white: #faf8f6;
  --primary-color: #1fc567;
  --neutral-black: #111517;
  --accent-100: #005384;
  --accent-200: #e7f0f2;

  /* Color variations */
  --primary-100: #5fce8f;
  --primary-300: #17914c;
  --primary-200: #1fc4a6;
  --primary-400: #0b4b40;

  --max-width: 1100px;
}

/* Buttons & Backgrounds */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: var(--neutral-white);
  background: var(--primary-color);
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-dark {
  background: var(--primary-400);
  color: var(--neutral-white);
}

/* Text */
.primary-text {
  color: var(--primary-color);
}

.dark-text {
  color: var(--primary-400);
}
