:root {
  /* colors */
  --neutral-white: #faf8f6;
  --primary-color: #1fc567;
  --neutral-black: #111517;
  --neutral-grey: #3a4144;
  --accent-100: #005384;
  --accent-200: #e7f0f2;

  /* Color variations */
  --primary-100: #5fce8f;
  --primary-300: #17914c;
  --primary-200: #1fc4a6;
  --primary-400: #0b4b40;

  --max-width: 1100px;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Buttons & Backgrounds */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: var(--neutral-white);
  background: var(--primary-color);
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary,
.bg-primary {
  color: var(--neutral-white);
  background: var(--primary-color);
}

.btn-dark,
.bg-dark {
  background: var(--primary-400);
  color: var(--neutral-white);
}

.btn-accent,
.bg-accent {
  background: var(--accent-100);
  color: var(--neutral-white);
}

.btn-light,
.bg-light {
  color: var(--neutral-white);
  background: var(--accent-100);
  border: 0.5px solid var(--accent-200);
  transition: 0.5s ease;
}

.btn-light:hover {
  scale: 0.92;
  color: var(--neutral-white) !important;
}

/* Text */
.primary-text {
  color: var(--primary-color);
}

.dark-text {
  color: var(--primary-400);
}

/* Flex Items */
.flex-columns .flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  justify-content: space-between;
}

.flex-items > div {
  padding: 20px;
}

/* Flex Columns */
.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

.flex-items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  justify-content: space-between;
}

/* .flex-items > div {
  padding: 20px;
  height: 200px;
  width: 200px;
} */

/* Section Header */
.section-header {
  display: flex;
  padding: 20px 10px 6px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 10px;
}

.section-padding {
  padding: 20px 100px 40px;
  margin-bottom: 100px;
}
.section-padding-2 {
  padding: 20px 10px 10px;
}

/* Form */
.form-data {
  border: 0.5px solid rgb(134, 174, 243);
}

.form-data:hover,
.form-data:focus {
  border: transparent;
  background-color: var(--accent-200);
  outline: none;
}
